<div class="theme-layout" id="scrollup">
  <%= render partial: "partial/search_basic" %>
  <section id="scroll-here">
    <div class="block">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="heading">
              <h2>
                <%= t ".popular_cate" %>
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="scroll-here">
    <div class="block">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="heading">
              <h2>
                <%= t ".recent_job" %>
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
