<div class="nested-fields">
  <span class="pf-title"><%= t ".reason_to_join" %></span>
  <div class="pf-field">
    <%= f.text_area :reason_content %>
  </div>

  <%= link_to_remove_association f %>
</div>
