<section>
  <div class="block remove-top">
    <div class="container">
      <div class="row no-gape">
        <aside class="col-lg-3 column">
          <%= render "jobs/job_filter" %>
        </aside>
        <div class="col-lg-9 column">
          <div class="modrn-joblist np">
            <h5 class="job-count"><%= t ".job_count", num: @jobs.count %></h5>
            <div class="job-list-modern">
              <div class="job-listings-sec no-border">
                <%= render @jobs %>
              </div>
              <div class="pagination">
                <%= paginate @jobs, theme: "twitter-bootstrap-3" %>
              </div><!-- Pagination -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
