<div class="sign-up">
  <section>
    <div class="block remove-bottom">
      <div class="container">
        <h3 class="upcase-h3">
          <%= t ".necessary_info" %>
        </h3>
        <%= render "shared/info_form", object: @user %>
      </div>
    </div>
  </section>
</div>
