<% if object.errors.any? %>
  <div id="error-desc">
    <div class="alert alert-danger">
      <%= t ".show_error_number", error_number: object.errors.count %>
    </div>
    <ul>
      <% object.errors.messages.each do |attribute, message| %>
        <li><%= "#{attribute.to_s.capitalize}: #{message[0]}" %></li>
      <% end %>
    </ul>
  </div>
<% end %>
