default: &default
  adapter: mysql2
  encoding: utf8mb4
  pool: <%= ENV.fetch("RAILS_MAX_THREADS"){5} %>
  username: root
  password:
  socket: /var/run/mysqld/mysqld.sock

development:
  <<: *default
  database: intern_2021_manager_job_development

test:
  <<: *default
  database: intern_2021_manager_job_test

production:
  <<: *default
  database: intern_2021_manager_job_production
