<section>
  <div class="block no-padding  gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="inner2">
            <div class="inner-title2 check-info">
              <h3>
                <%= t ".update_profile" %>
              </h3>
              <span>
                <%= t ".can_change" %>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="block">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <%= render "edit_company_form" %>
        </div>
      </div>
    </div>
  </div>
</section>
