@import "color";

.job-is.fl {
  cursor: pointer;
}

.check-info {
  padding: 40px 0px;
}

.ava-profile {
  img {
    width: 300px;
  }

  max-height: 350px;
}

.row-profile {
  margin: -30px -20px;
}

.pf-title {
  font-size: 20px;
}

.pf-field {
  textarea {
    padding: 20px;
    font-size: 15px;
    height: 100px;
  }

  input, textarea {
    font-size: 18px;
  }

  select {
    width: 100%;
    border: 2px solid $gray_light;
    border-radius: 8px;
    padding: 14px 45px 14px 15px;
    background: $white;
    font-family: Open Sans;
    font-size: 18px;
    color: $black_lighter;
    line-height: 24px;
  }
}

.pf-title-bold {
  font-weight: 600;
}

.user-info {
  font-size: 16px;
  padding: 10px 20px;
  color: $black;
  span {
    display: inline-block;
    min-width: 100px;
  }
}

.logout-btn {
  input {
    background-color: transparent;
    color: $white;
    border: none;
    margin-top: -2px;
  }
}

.title-applied-job {
  margin-bottom: 70px;
}

.text-applied-job {
  margin-bottom: 0px;
}

.info-name {
  margin: 5px -5px;
}

.info-right {
  margin-top: -30px;
}

.row-edit-button {
  padding-top: 50px;
}

.select {
  text-align: left;
  margin: 10px 20px 10px 0px;
}

.select-1 {
  margin-left: 20px;
}

.select-2 {
  margin-left: 15px;
}

.des {
  width: 100%;
  float: left;
}

.password-reset {
  color: $deep_koamaru;
}

.c-reset {
  margin: 100px 0px;
}

.reset-password-form {
  margin: auto;
  width: 50%;
}

.all-candidates-btn {
  margin-top: 28px;
}

input[type="checkbox"] {
  display: block;
}

.job-style-bx {
  margin-bottom: 10px;
  padding: 25px 15px;
  button {
    margin-bottom: 14px;
  }

  i {
    font-style: italic;
  }
}

.job-lctn {
  margin-right: 20px;
  i {
    color: $radical_red;
  }
}

.job-company-name {
  font-size: 14px;
  color: $radical_red;
  margin: -2px 0px 5px 131px;
}

.c-logo {
  margin-right: 10px;
  margin-top: 10px;
  height: 56px;
}

.submit-btn-custom {
  input {
    font-family: open sans;
    font-size: 18px;
    color: $gray;
    padding: 10px 30px;
    background-color: $white;
    border-radius: 8px;
    margin-right: 20px;
    border: 2px solid $gray;
    &:hover {
      color: $white;
      background-color: $black;
      transition: 0.3s;
    }
  }
}

.login-input {
  input {
    color: $red;
  }
}

.new-info-btn {
  padding: 10px 15px !important;
  font-size: 20px;
}

.row-info-input {
  width: 90%;
  margin: auto;
  margin-bottom: -20px;
}

.upcase-h3 {
  text-transform: uppercase;
  font-weight: bold;
  color: $black;
  margin-bottom: 30px;
}

.user-info-input {
  width: 93%;
  margin: auto;
}

.job-style-bx-custom {
  width: 290px;
  .btn {
    display: inline-block;
    float: left;
    margin: 0px 0px 0px 20px !important;
    width: 100px;
    height: 45px;
  }
}

.required-field::before {
  content: '*';
  color: $red;
}

.to-link {
  font-weight: bold;
  background: -webkit-linear-gradient(#009fff, #ec2f4b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tb-title{
  font-weight: 900;
}

.search-job-in-company {
  margin: 20px 0px;
}

.search-job-in-company-part {
  margin: 0px 3px;
}

.basic-search-btn {
  height: 100%;
  width: 100%;
  margin: 0 !important;

}

.filter-search-btn {
  height: 100%;
  width: 100%;
  margin-top: 20px !important;
}

.behind-noti {
  z-index: -1 !important;
}

.pagination {
  margin-top: 25px;
}

.notification {
  color: $white;
  top: 10px;
  left: 10px;

  i {
    font-size: 25px;
  }

  #notification-counter {
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 12px;
    padding: 3px 6px;
    border-radius: 50%;
    background-color: $red;
    color: white;
  }

  ul {
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    min-width: 250px;

    li {
      padding: 10px 15px;
      font-size: 15px;

      &:hover {
        cursor: pointer;
      }

      &:before {
        content : "";
        position: absolute;
        left    : 5%;
        bottom  : 0;
        height  : 1px;
        width   : 90%;
        border-bottom:1px solid $gray;
      }

      a {
        color: $black !important;
        font-size: 15px !important;
        margin: 0px !important;
        padding: 0px !important;
      }

      span {
        color: $gray;
        font-size: 10px;
        float: right;
        font-style: italic;
      }
    }

    .noti-new {
      background-color: $light-blue;
    }
  }
}

#user_apply_job_search {
  margin-top: 20px;

  .col-lg-3, .col-lg-2, .col-lg-1 {
    float: left;
  }

  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  select {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
  }

  button {
    margin-top: 32px;
  }
}
