.job-is.fl {
  cursor: pointer;
}

.check-info {
  padding: 40px 0px;
}

.ava-profile {
  img {
    width: 300px;
  }

  max-height: 350px;
}

.row-profile {
  margin: -30px -20px;
}

.pf-title {
  font-size: 20px;
}

.pf-field {
  textarea {
    padding: 20px;
    font-size: 15px;
  }

  input, textarea {
    font-size: 18px;
  }
}

.pf-title-bold {
  font-weight: 600;
}

.user-info {
  font-size: 16px;
  padding: 10px 20px;
  color: #000;
  span {
    display: inline-block;
    min-width: 100px;
  }
}

.logout-btn {
  input {
    background-color: transparent;
    color: #fff;
    border: none;
    margin-top: -2px;
  }
}

.title-applied-job {
  margin-bottom: 70px;
}

.text-applied-job {
  margin-bottom: 0px;
}

.info-name {
  margin: 5px -5px;
}

.info-right {
  margin-top: -30px;
}

.row-edit-button {
  padding-top: 50px;
}

.select {
  text-align: left;
  margin: 10px 20px 10px 0px;
}

.select-1 {
  margin-left: 20px;
}

.select-2 {
  margin-left: 15px;
}

.des {
  width: 100%;
  float: left;
}

.password-reset {
  color: #15287c
}

.c-reset {
  margin: 100px 0px;
}

.reset-password-form {
  margin: auto;
  width: 50%;
}
