.job-is.fl {
  cursor: pointer;
}

.check-info {
  padding: 40px 0px;
}

.ava-profile {
  img {
    width: 300px;
  }

  height: 350px;
}

.row-profile {
  margin: -30px -20px;
}

.pf-title {
  font-size: 15px;
}

.pf-field {
  textarea {
    padding: 20px;
    font-size: 15px;
  }

  input, textarea {
    font-size: 15px;
  }
}
